<article class="body content">
    <p>Welcome, this is currently a simple Proof of Concept App for using the Blackout Rugby API. Below is a simple form that I will extend over time which allows you to enter your request details and see what comes back.</p>
    
    <h2>API Test Form</h2>
    <form action="/" method="post">
        <ul id="requestForm">
            <li>
                <label for="requestParams">Request Params</label>
                <input type="text" id="requestParams" name="requestParams" />
            </li>
            <li>
                <label for="devKey">Developer Key</label>
                <input type="text" id="devKey" name="devKey" />
            </li>
            <li>
                <label for="devIV">Developer IV</label>
                <input type="text" id="devIV" name="devIV" />
            </li>
            <li>
                <label for="devID">Developer ID</label>
                <input type="text" id="devID" name="devID" />
            </li>
            <li>
                <label for="memberAccess">Member Access</label>
                <input type="text" id="memberAccess" name="memberAccess" />
            </li>
            <li>
                <input type="submit" value="Search" />
            </li>                
        </ul>
    </form>
    
    <p>You can find this <a href="http://github.com/denishoctor/BlackoutRugbyNode">project on github</a>. I'm keen for anyone who has an interest in Blackout Rugby and/or web development to give a hand.</p>

    <h2>Rough Application Road Map</h2>
    <ul class="noteList">
        <li class="first">TBC</li>
    </ul>
</article>
